/* footer.css */
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-section {
  margin: 0 20px;
  text-align: center;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.about-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.about-link:hover {
  text-decoration: underline;
}
